.centered-content-dataview {
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-color);
    background-image: url(/bg.png);
    background-size: cover;
    background-position: center;
}