.centered-content-detailpage {
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-color);
    background-image: url(/bg.png);
    background-size: cover;
    background-position: center;
}