#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    color: $text-color;
    padding-right: 5rem;
    a {
        color: $text-color;
        text-decoration: none;
    }
    height: 15rem;
    border-top: 2px solid $border-color;
}
#footer div:first-child {
    width: 30%;
}
#social-media-icons{
    margin-top: 1.5rem;
}
#social-media-icons a {
    margin-right: 1rem; /* Khoảng cách giữa các icon */
}

#social-media-icons a:last-child {
    margin-right: 0; /* Đảm bảo rằng không có khoảng cách ở biểu tượng cuối cùng */
}