#topbar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    position: sticky;
    top: 0;
    z-index: 1000; /* Đảm bảo thanh topbar luôn nằm trên cùng so với các phần tử khác */
    border-bottom: 1px solid #f5f5f5;
}
#topbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.7rem;
}
#logo-container {
    width: 10%;
    height: auto;
}
#logo-container img {
    width: 100%;
    height: auto;
}
#menubar {
    height: 4rem;
}
#login-container {
    display: flex;
    gap: 1.5rem;
    height: 3rem;
}
#topbar-button-login {
    background-color: $white-color;
    color: $black-color;
    font-size: 1.2rem;
    font-weight: 800;
    border: 1px solid $black-color;
    border-radius: 20px;
    padding: 1rem;
    height: 2.7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topbar-button-login:hover {
    background-color: $black-color;
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 800;
    border: 2px solid $black-color;
    border-radius: 20px;
    padding: 1rem;
    height: 2.7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topbar-button-login-active {
    background-color: $black-color;
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 800;
    border: 2px solid $black-color;
    border-radius: 20px;
    padding: 1rem;
    height: 2.7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-container a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
}
// #menubar a {
//     text-decoration: none;
//     color: $black-color;
//     padding-top: 0.3rem;
// }
