// custom css for dataView
.p-dataview .p-dataview-content {
    background: transparent;
    border-radius: 4rem;
}

//component DataView
#dataview-container {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 0.3rem;
    border-radius: 2rem;
    width: 100%;
    height: auto;
    position: relative;
}
#dataview-container:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#image-container-dataview {
    width: 100%;
    height: 15rem;
}
#image-container-dataview img{
    border-radius: 1.3rem;
    width: 100%;
    height: 90%;
    object-fit: cover; 
}
#info-dataview {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

#info-dataview h4 {
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0; 
    transition: color 0.3s ease;
}
.ml2-icon{
    margin-right: 0.4rem;
}
#name-dataview {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto; 
}
.icon-run {
    color: var(--primary-color);
    transition: color 0.3s ease;
    background-color: $black-color;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
#share-register-container {
    font-size: 1rem;
    width: 75%;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    height: auto;
}
#share-register-container h4 {
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0; 
    transition: color 0.3s ease;
}
#share-register-container  h6 {
    font-size: 0.8rem;
    margin: 0.5rem 0 0.5rem 0; 
    transition: color 0.3s ease;
}
#share-register-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
#link-dataview-container {
    text-decoration: none;
    color: $text-color;
}
#link-dataview {
    font-size: 1rem;
    transition: color 0.3s ease;
    font-weight: 500;
    color: $text-color;
    text-decoration: none;
}
#link-dataview:hover {
    color: var(--third-color);
    font-weight: 550;
    transition: color 0.3s ease;
}
