.p-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: transparent;
    color: var(--primary-color);
    border: solid var(--background-color);
    border-width: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
// custom css for paginator highlight
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 0.7rem;
}
.p-paginator .p-paginator-pages .p-paginator-page:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 0.7rem;
}
// custom css for paginator dropdown
.p-paginator .p-dropdown {
    margin-left: 0;
    height: 2.357rem;
    border-radius: 0.7rem;
    justify-content: center;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
}
.p-dropdown-panel .p-dropdown-items {
    padding: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: var(--text-color);
    background: var(--primary-color);
}