#topbar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 0.13rem solid $border-color;
}
#topbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.7rem;
}
#logo-container {

}
#logo-container img {
    width: 3.7rem;
    height: 3.7rem;
}
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 3rem;
}
#login-container img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
#topbar-button-login {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.13rem solid $black-color;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 2.7rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topbar-button-login:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.13rem solid $black-color;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 2.7rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topbar-button-login-active {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.13rem solid $black-color;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 2.7rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-container a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

#end-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#select-language select {
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    height: 2.7rem;
    width: 3rem;
    padding-left: 2rem; /* Để có không gian cho logo */
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 0.5rem center; /* Điều chỉnh vị trí của logo */
}

.custom-dropdown {
    position: relative;
    cursor: pointer;
    height: 3rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}
.custom-dropdown img {
    width: 1.5rem;
    height: 1.5rem;
}
.options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    z-index: 1;
}

.option {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    width: 9rem;
}
.option:hover {
    background-color: var(--primary-color);
    border-radius: 1rem;
}
#topbar-profile-menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}
#topbar-profile-avatar {
    width: 3rem;
    height: 3rem;
}
#topbar-profile-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
#topbar-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#topbar-profile-info h1{
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0 auto;
}
#topbar-profile-info h4{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0 auto;
}
#notification-button-container {
    font-size: 2rem;
    padding-top: 0.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: var(--text-color);
}
#notification-number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--third-color);
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 700;
}
#notification-container {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    height: auto;
    overflow: auto;
}
#notification-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    padding: 0.5rem;
}
#notification-user-container:hover {
    background-color: var(--primary-color);
}
#notification-user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#notification-user-container p {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0 auto;
}