#topbar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 0.13rem solid $border-color;
}
#topbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.7rem;
}
#logo-container {

}
#logo-container img {
    width: 3.7rem;
    height: 3.7rem;
}
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 3rem;
}
#topbar-button-login {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.13rem solid $black-color;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 2.7rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topbar-button-login:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.13rem solid $black-color;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 2.7rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#topbar-button-login-active {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    border: 0.13rem solid $black-color;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 2.7rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-container a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

#end-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#select-language select {
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    height: 2.7rem;
    width: 3rem;
    padding-left: 2rem; /* Để có không gian cho logo */
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 0.5rem center; /* Điều chỉnh vị trí của logo */
}

.custom-dropdown {
    position: relative;
    cursor: pointer;
    height: 3rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}
.custom-dropdown img {
    width: 1.5rem;
    height: 1.5rem;
}
.options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    z-index: 1;
}

.option {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    width: 9rem;
}
.option:hover {
    background-color: var(--primary-color);
    border-radius: 1rem;
}
