// #theme-container {
//     position: fixed;
//     bottom: 1rem;
//     right: 1rem;
//     z-index: 999;
// }

// #theme-button {
//     background-color: var(--background-color);
//     color: var(--text-color);
//     border: 1px solid var(--background-color);
//     border-radius: 4px;
//     padding: 8px 16px;
//     font-size: 16px;
//     cursor: pointer;
//     transition: all 0.3s ease-in-out;
    
//     &:hover {
//         background-color: var(--primary-color);
//         border-color: var(--primary-color);
//     }
// }
#theme-container {
    /* Just as an example, place your container styles here */
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

#theme-button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s; /* Smooth transition for other properties */
    position: relative; /* To position our day/night icons */
}

#scroll-container {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; 
}

#scroll-button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative; 
}
#scroll-button i {
    color: var(--text-color);
}

#search-container {
    position: fixed;
    top: 5rem;
    right: 7.5%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; 
}

// menu 
.p-menu.p-menu-overlay {
    background: var(--background-color);
    border-radius: 1rem;
    border: 0 none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.p-menu .p-submenu-header {
    margin: 0;
    padding: 0.75rem 1rem;
    color: var(--text-color);
    background: var(--background-color);
    font-weight: 600;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover {
    background: var(--secondary-color);
    border-radius: 1rem;
}