.text-red-700{
    color: $third-color;
}
.checkbox-label {
    margin-left: 1rem;
}
#form-container {
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $border-color;
}
#form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    border-radius: 1rem;
    font-style: bold;
    font-size: 1rem;
    padding: 3rem;
}
#form-title{
    color: $black-color;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: auto;
}

#border-form {
    width: 100%;
    height: 2rem;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 2rem 0 0 0;
}
#forgot-title a{
    color: $black-color;
    text-decoration: none;
    font-weight: bold;
    width: 100%;   
}
#signin-signup-title {
    margin-top: 2rem;
}
#signin-signup-title a{
    color: $black-color;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}
#login-facebook {
    width: 100%;
    height: 2.5rem;
    color: $login-facebook-color;
    background-color: $white-color;
    border: 1px solid $login-facebook-color;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}
#login-facebook:hover {
    background-color: $login-facebook-color;
    color: $white-color;
    transform: scale(1.02); 
}
#login-google {
    width: 100%;
    height: 2.5rem;
    color: $login-google-color;
    background-color: $white-color;
    border: 1px solid $login-google-color;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}
#login-google:hover {
    background-color: $login-google-color;
    color: $white-color;
    transform: scale(1.02); 
}
.grid-form {
    display: flex;
    gap: 1rem;
}
#form {
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#width-100-center {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}
#remember-forgot-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
#checkbox {
    width: auto;
    min-width: 15rem;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $black-color;
    background: var(--primary-color);
}
.p-checkbox .p-checkbox-box {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    background: $white-color;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon.p-icon {
    width: 1rem;
    height: 1rem;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $black-color;
    background: var(--primary-color);
    color: $black-color;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: $black-color;
    font-size: 1rem;
}


.field-wrapper{
    width:100%;
}
.p-password-input{
    width:100%;
    height: 3rem;
    border-radius: 1rem;
}
.p-inputtext{
    width:100%;
    height: 3rem;
    border-radius: 1rem;
    color: var(--text-color);
    background-color: var(--background-color-header);
}
.p-inputtext:enabled:hover {
    border-color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
}
.p-inputtext:enabled:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgb(247, 245, 236);
}
.p-float-label {
    display: block;
    position: relative;
    width: 100%;
    display: flex;
    
}
#share-facebook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem 1rem 1rem;
    transition: all 0.3s ease-in-out;
}
.p-dropdown {
    background: var(--background-color-header);
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-dropdown:not(.p-disabled):hover {
    border-color: var(--primary-color)
}