#target-wrapper {
    background-color: $border-color;
    justify-content: center;
    padding: 2rem 0;
}
#target-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem auto;
    width: 75%;
}
#target-item {
    background-color: $white-color;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    width: 20rem;
}
#target-item img {
    width: 5rem;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
#target-item span {
    text-align: center;
    font-size: 2em;
    font-family: $fontFamily;
    font-weight: bold;
}
