#event-container {
    background-color: $white-color;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 35px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 0.5rem 0.1rem $border-color-yellow;
    z-index: -1;
}
#image-event-container {
    width: 100%;
    height: 15rem;
}
#image-event-container img{
    border-radius: 25px;
    width: 100%;
    height: 90%;
    object-fit: cover; 
}
#info-event {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

#info-event h4 {
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0; 
    transition: color 0.3s ease;
}
#name-event {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto; 
}
#link-event {
    font-size: 1rem;
    transition: color 0.3s ease;
    font-weight: 500;
    color: $text-color;
    text-decoration: none;
}
#link-event:hover {
    color: $background-color-red;
    font-weight: 550;
    transition: color 0.3s ease;
}

#custom-carousel-product {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: $primary-color url(/bg.png) no-repeat center;
}
#custom-carousel-product .p-carousel-items-container {
    display: flex;
    flex-direction: row;
}
#custom-carousel-product .p-items-hidden .p-carousel-item {
    visibility:initial;
}

#custom-carousel-product.p-carousel button {
    background-color: $background-color;
    width: 0.8rem;
    height: 0.5rem;
    border-radius: 50px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
#custom-carousel-product.p-carousel .p-carousel-content .p-carousel-prev, 
#custom-carousel-product.p-carousel .p-carousel-content .p-carousel-next {
    width: 3rem;
    height: 3rem;
    color: $dialog-color;
    border: 0 none;
    background: $white-color;
      background-color: $white-color;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin: 0;
}
#custom-carousel-product.p-carousel .p-highlight button {
    background-color: $black-color;
    border-radius: 50px;
    width: 1.2rem;
}

