#member-info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
#member-info img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
#member-info a{
    text-decoration: none;
}
#member-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}
#member-name-container span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0; 
    transition: color 0.3s ease;
}
#member-ranking {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}
#member-ranking img {
}