#slideshow-container {
  background-color: --primary-color;
}

#slide {
  position: relative;
}

#slide img {
  display: block;
  width: 100%;
  height: 50rem;
  object-fit: cover; 
}

#slide-caption-content {
  position: absolute; 
  top: 0%;  
  left: calc(10% - 2rem);   
  background-color:transparent; 
  color: $black-color;
  font-style: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 50rem;
  font-size: 2rem;
  padding: 0 0 0 2rem;
}
#slide-name {
  font-size: 5rem;
  margin-bottom: 1rem;
}

#button-slide{
  margin-top: 2rem;
  font-size: 1.5rem;
  width: 15rem;
  height: auto;
  background-color: $black-color;
  border: none;
  border-radius: 10px;
}
#overview-slide {
  display: flex;
  justify-content: start;
  align-content: center;
  margin-top: 1rem;
  gap: 4rem;
}
#overview-slide :first-child{
  display: block;
  justify-content: center;
  align-items: center;
}
#overview-slide :first-child :first-child, 
#overview-slide :last-child :first-child {
    font-size: 4rem;
    text-align: center;
}
#overview-slide span {
  text-align: center;
}
.overlay-content {
  position: absolute; 
  top: 25%; 
  left: 20%; 
  width: 100%;
  z-index: 1000; 
}
#slide-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
#slide-detail {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
}
