$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primeIconFontSize: 2rem;
$font-size-xxsmaller: 0.4rem;
$font-size-smaller: 0.6rem;
$font-size-small: 0.8rem;
$font-size-medium: 1.2rem;
$font-size-normal: 1rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 2.5rem;
$font-size-max:5rem;
$font-size-header:1.5rem;
$text-color: black;

$white-color: #ffffff;
$black-color: #000000;
$border-color: #f5f5f5d2;
$border-color-yellow: #d6d2c7;
$dialog-color:#6c757d;
$background-color: #f5f5f5d2;
$background-camera: #eeda82bb;
$background-dialog: #ffffffce;
$background-footer: #282932;

$login-facebook-color: #4285F4;
$login-google-color: #DB4437;
$login-apple-color: #000000;

$primary-color-light: #FFE49E;
$secondary-color-light: #fce4a438;
// color light mode
$primary-color: #EFBF7F;
$secondary-color: #F8E4CC;
$third-color: #F20231;
$fourth-color: #0C5D7B;
$fiveth-color: #12103D;
// color dark mode
$primary-color-dark: #8B939C;
$secondary-color-dark: #59546C;
$third-color-dark: #FF0035;
$fourth-color-dark:#38405F;
$fiveth-color-dark: #0E131F;
